.about {
    padding: 40rem 0;
    &__main-title{
        font-size: 24rem;
        margin-bottom: 30rem;
        color: #45d2ca;
        margin-inline: auto;
        text-align: center;
        max-width: 240rem;
        border: 2rem solid #45d2ca;
        padding: 10rem 20rem;
        border-radius: 10rem;
        box-shadow: 0 0 10rem 2.5rem #45d2ca;
    }
    &__desc {
        margin-bottom: 70rem;
        max-width: 628rem;
        color: var(--c-text-white);
        @include mobile{
            max-width: 300px;
            margin-inline: auto;
        }
    }

    &__container {
        max-width: 1300px;
        margin-inline: auto;
        display: flex;
        
        gap: 130rem;
        @include tablet {
            flex-direction: column;
            gap: 40rem;
            align-items: center;
        }
    }

    &__title {
        font-size: 24rem;
        margin-bottom: 32rem;
        color: var(--c-text-white);

        span {
            color: #45d2ca;
        }
    }

    &__info {
       margin-top: 20rem;
       font-size: 16rem;
        @include tablet {
            text-align: center;
        }

        color: var(--c-text-white);
    }
    &__image{
        max-width: 450rem;
        border: 10rem solid  #45d2ca;
        border-radius: 50%;
        transition: all .3s ease-in-out;
       
    }
    &__image:hover{
        box-shadow: 0 0 10rem 2.5rem #45d2ca;
    }
    &__btn {
        color: var(--c-text-white);

        @include tablet {
            margin-bottom: 32rem;
        }
    }

    @include tablet {
        padding-bottom: 88rem;
    }


}


.about .container {
    display: flex;
    justify-content: space-between;
    gap: 89rem;

    @include tablet {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
}


.image {
    max-width: 497rem;
    border-radius: 24rem;
    position: relative;

    @include tablet {
        margin-inline: auto;
    }
}


.image img {
    border-radius: inherit;
    position: relative;
}