.welcome {
    padding: 96rem 0;

    &__info {
        max-width: 561rem;
        @include tablet {
            max-width: 361rem;
            max-width: 100%;
            text-align: center;
        }
    }

    &__mark {
        color: var(--c-text-white);
        font-size: 19rem;
        font-weight: 500;
        line-height: 27rem;
        margin-bottom: 24rem;
        span{
            color: #45d2ca;
        }
    }

    &__title {
        color: var(--c-text-white);
        font-size: 42rem;
        font-weight: 700;
        line-height: 64rem;
        margin-bottom: 8rem;
    }

    &__desc {
        color: var(--c-text-white);
        font-size: 16rem;
        font-weight: 400;
        line-height: 27rem;
        max-width: 561rem;
        margin-bottom: 24rem;

        @include tablet {
            margin-inline: auto;
            margin-bottom: 44rem;
            max-width: 361rem;
        }
    }
    &__btn{
        font-size: 24rem;
        padding: 20rem 30rem;
        border-radius: 20rem;
        background: #45d2ca;
        color: var(--c-text-white);
        transition: all .3s ease-in-out;
        
    }
    &__btn:hover{
        box-shadow: 0 0 5rem 2.5rem #45d2ca;
    }

    &__container {
        display: flex;
        max-width: 1300px;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            flex-direction: column;
            gap: 80rem;
        }
    }

    &__img {
        
        @include tablet {
            margin-inline: auto;
        }
    }
    &__img-img{
        border-radius: 50%;
        max-width: 600rem;
        max-height: 600rem;
        @include tablet {
            max-width: 400rem;
        max-height: 400rem;
        }
    }
   
}
